body {
    background-color: black;
    margin: 0px;
}

.pan {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-size: cover;
    background-repeat: repeat-x;
    -webkit-transition: background-position 0.25s linear;
    -moz-transition: background-position 0.25s linear;
    transition: background-position 0.25s linear;
}